[phases.setup]
nixPkgs = [
    "python312",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "glib",
    "libffi",
    "gobject-introspection",
    "pkg-config"
]

[phases.install]
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate",
    "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn core.wsgi --log-file -"